layout {
    default_tab_template name="multi" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    // A full Tab to run Neovim
    tab name="Neovim" {
            pane command="nvim"
        }
    // Tab is a 50/50 split vertical pane
    tab name="MidnightCommander" {
            pane command="mc"
        }
    // The next Tab is for exploring multiple locations or running multiple commands
    // in the same Tab space. 50/50 split vertical with the left 50% divided horizontally giving 3 panes.
    tab name="Triple" split_direction="Vertical" {
      pane
      pane split_direction="horizontal" {
        pane command="exa" {
          args "--color" "always" "--octal-permissions" "--group-directories-first" "-la" "-s" "size"
        }
        pane command="git" {
        args "log"
        }
      }
    }
    // Another 50/50 split Tab
    tab name="Dual" split_direction="Vertical" {
        pane split_direction="Vertical" {
            pane size="50%"
            pane size="50%"
        }
    }
    // full Tab to run btop
    tab name="btop" {
        pane command="btop"
        }
    // A copied Rust dev Tab for running code and checking out relevant spaces during code run.
    tab name="Dev" split_direction="Vertical" {
        pane split_direction="Vertical" {
            pane size="50%"
            pane size="50%" split_direction="Horizontal" {
                pane size="50%"
                pane size="50%"
            }
        }
    }
}

