layout {
    pane split_direction="vertical" size="60%" {
        pane edit="src/main.rs"
        pane edit="Cargo.toml"
    }
    pane split_direction="vertical" size="40%" {
        pane {
        
        }
        pane {
            
        }
        pane {
        
        }
    }
}
